

@import 'bootstrap/dist/css/bootstrap.min.css';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

*{
  font-family: Inter !important;
}

.navbar{
  height: 80px;
    position: fixed;
    z-index: 99;
    width: 100%;
    background: transparent !important;
    transition: 0.2s all ease-in-out;
}
.navbar-nav a{
  margin:  0px 20px;
  padding-bottom: 2px;
  text-decoration: none;
}

.navbar-nav a{
  font-size: 16px;
  font-weight: 500;
  font-family: Inter;
  color: #fbfbfb;
  position: relative;
}
.navbar-nav a::after{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background-color: #fbfbfb;
  content: '';
  transition: 0.30s all ease;
}
.navbar-nav a:hover::after{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  content: '';
}
.navbar-nav a:hover{
  color: #ffffff;
}
.logo{
  font-size: 24px;
  text-decoration: none;
  font-weight: 700;
  color: #f8f8f8;
  padding-right: 22px;
  display: flex;
    align-items: center;
    justify-content: center;
}
.logo svg{

height: 45px;
width: 45px;
padding-right: 5px;

}

.logo svg path{
  fill: #f86464;
}

.navbar-nav a.active{
  color: #ffffff;
  font-weight: 600;
}
.navbar.scrolled{
  background-color: #fff  !important;
  box-shadow: -1px 2px 19px -9px rgba(0,0,0,.4);
}
.navbar.scrolled .logo{
  color: #222;
}
.navbar.scrolled  .navbar-nav a{
  color: #222;
}
.navbar.scrolled  .navbar-nav a.active, .navbar.scrolled  .navbar-nav a:hover{
color: #847adb !important;
}
.navbar.scrolled  .navbar-nav a:hover::after{
  background-color: #847adb !important;
}
.navbar>.container{
  padding: 0px 13px !important;
}
.login_button{
width: 100px  !important;
height: 35px !important;
background-color: #fff !important;
border-radius: 5px !important;
color: #222 !important;
font-size: 14px;
outline: none;
font-weight: 600;
border: 1.5px solid #fff;
transition: 0.4s all;
}
.login_button:hover{
  background-color: #847adb !important;
  color: #fff !important;
  border: 1.5px solid #fff;

}
.slick-slide img  {
  display: block;
  height: 680px;
    width: 100%;
    object-fit: cover;
    object-position: center;


}


.w-30{
  width: 30% !important;
}
.custom_input{


height: 45px;
border-radius: 20px;
font-size: 15px;
font-weight: 500;
font-family: Inter !important;
color: #2a2a2a;
}
.custom_input::placeholder{
  color: #888888 !important;
  font-weight: 400 !important;
}
.slick-slide img:focus-visible, .border_none{
  border: none !important;
  outline: none !important;
  -webkit-border-color: none !important ;
}

.main_section{
  margin: 60px auto;
}
.section_title{
  font-size: clamp(1.5rem, 1.409rem + 0.4854vi, 1.875rem);
 font-weight: 700;
  color: #222;
  margin-bottom: 40px;
}
.product_card{
  height: 420px;
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: 0.3s all ease-in-out;

}
.product_card:hover{
  transform: scale(0.9);

}
.product_card img{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
  object-fit: cover;
}
.product_detail{
  position: absolute;
  bottom: 0;
  z-index: 9;
  height: 40%;
  width: 100%;
  background-color: #0000006e;
  padding: 16px;
  backdrop-filter: blur(3.5px);
  border-radius: 0px 0px 15px 15px;
}
.product_detail h2{
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  margin: 0;
  margin-top: 5px;
}
.product_detail p{
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  margin: 0;
  margin-top: 5px;
}
.playback_detail{
  margin: 0;
  font-size: 14px;
  padding: 3px 10px;
  width: 200px;
  background-color: #847adb;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, 54%);
  z-index: 10;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  font-weight: 400;
  border: 1px solid #847adb;
  
}
.add_cart_button{
  width: 100%;
  border: none;
  outline: none;
  height: 40px;
  background-color: #1bb579;
  color: #fff;
  border-radius: 10px;
  font-size: 18px; 
  font-weight: 600;
  margin-top: 8px;
}
.reviews_count{
  color: #fff;
  font-size: 13px;
  margin-left: 10px;
}
.new_label{
  position: absolute;
  z-index: 9;
  top: 10px;
  right: 10px;
  display: inline-block;
  background-color: #222;
  color: #fff;
  padding: 2px 12px;
  border-radius: 20px;
  font-size: 12px;
  margin-bottom: 0px;
}
.dot{
  display: inline-block;
  height: 6px;
  width: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  top: -1px;
}

.flex-no-wrap::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.flex-no-wrap::-webkit-scrollbar
{
	width: 5px !important;
  height: 5px;
	background-color: #F5F5F5;
}

.flex-no-wrap::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.036);
	background-color: #5555559b;
}

.flex-no-wrap{
flex-wrap: nowrap !important;
padding-bottom: 50px;
overflow-x: scroll !important;
}
.banner_add_img{
  height: 450px;

}
.content{
  padding: 20px 0px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.content h3{
  font-size: clamp(1.5rem, 1.0146rem + 2.589vi, 3.5rem);
  font-weight: 700;
}
.content h2{
  font-size: clamp(1.125rem, 0.8823rem + 1.2945vi, 2.125rem);
  font-weight: 500;
}
.company_details, .quickLinks{
  padding: 40px 0px;
}
.company_details h2{
  font-size: 18px;
  color: #e6e6e6;
  margin: 0;
  font-weight: 500;
  margin-bottom: 10px;

}
.company_details p{
  font-size: 15px;
  color: #e6e6e6;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
}
.footer_header{
  font-size: 24px;
  color: #fff;
  margin: 18px  0;
  font-weight: 600;
}
.app_info img{
  width: 100%;
  position: relative;
  left: -62px;
  top: -18px;
}
.quickLinks ul{
  padding: 0;
}
.quickLinks ul li{
  list-style: none;
  font-size: 15px;
  color: #e6e6e6;
  margin-bottom: 15px;
}
.app_info{
  padding: 40px 0px;
}

.app_info{
  font-size: 15px;
  color: #e6e6e6;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
}
.copy_rights{
  border-top: 1.5px solid #e6e6e6;
}
.copy_rights p{
  color: #e6e6e6;
  margin: 18px 0px;
  font-size: clamp(0.8125rem, 0.7367rem + 0.4045vi, 1.125rem);
}

.login_imag{
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-right: 1.4px solid #eeec;
}
.login_btn:hover{
  background: #554d9c !important;
}
.login .header h4{
  font-size: 26px;
  font-weight: 700;
  margin: 12px 0px;
  margin-bottom: 5px;
  color: #222;
 
}
.login .header p{
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
  margin-top: 8px;
  

}
.dropdown button{
  padding: 0px !important;
  background: transparent !important;
  border: none !important;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.dropdown button img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.navbar-nav .dropdown-menu{
  left: -45px !important;
}
.dropdown-menu a{
color: #222 !important;
margin: 0px !important;
}
.dropdown-menu a:last-child{
  color: red !important;
}
.form_container {
  padding: 0px 30px;
  margin-top: 30px;
}
.floatingInput{
  font-size: 16px !important;
}
.login_input{
  height: 40px !important;
  border-radius: 10px;
  /* padding: 0.8rem 0.75rem !important; */
  font-size: 16px;
}
.modal-body{
  padding: 12px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.login_btn{
  height: 45px;
  width: 100%;
  font-size: 20px !important;
  font-weight: 600 !important;
  letter-spacing: 1px;
  background-color: #847adb !important;
  border-radius: 10px;
}
.google_btn{
  height: 45px;
  width: 100%;
  font-size: 18px !important;
  font-weight: 600 !important;
  letter-spacing: 1px;
  background-color: #fff !important;
  border-radius: 10px;
  color: #222;
  border: 1.4px solid #cccc !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.google_btn:hover{
  color: #222;
}
.or{
  display: block;
  text-align: center;
  position: relative;
  margin-top: 12px;
}
.or:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 45%;
  top: 50%;
  right: 0;
  background-color: #ccc;
}
.or::before{
  position: absolute;
  content: '';
  height: 2px;
  width: 45%;
  top: 50%;
  left: 0;
  background-color: #ccc;
}
.redirecttag{
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin: 13px 0px;
  margin-top: 20px;
}
.redirecttag span{
  color: rgb(65, 65, 243);
  cursor: pointer;
}
.redirecttag span:hover{
  color: blue;
}
.close_btn{
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.detail_section{
  margin-top: 60px;
  /* margin-bottom: 40px; */
}
.image_section{
  height: 550px;
}
.image_section img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;

}
.ratings_reviews_detail{
  display: flex;
  align-items: center;
}
.ratings_reviews_detail h6{
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 14px;
  color: #222;
}
.product_details_full h2{
  font-size: clamp(1.5rem, 1.2876rem + 1.1327vi, 2.375rem);
  font-weight: 700;
  color: #222;
  margin: 12px 0;
}
.product_details_full h4{
  font-size: 16px;
  font-weight: 400;
  color: #5e5e5e;
  margin: 6px 0;
  text-align: justify;
  line-height: 26px;
}
.price_counter{
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}
.price_counter h3{
  margin: 12px 0;
  color: #28ac4b;
  font-size: 22px;
  font-weight: 600;

}
.counter{
  padding: 12px 20px;
  background-color: #F2F5F9;
  align-items: center;
  gap: 20px;
  border: 1.2px solid #F2F5F9;
}
.counter p{
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}
.counter h6{
  margin: 0;
  font-size: 15px;
}
.features ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin-top: 28px;
}
.features ul li{
  list-style: none;
  margin: 8px 0px;

  font-weight: 500;
  color: #5e5e5e;
}
.cart_grop{
  margin-top: 45px;
}
.cart_bttum_lg{
  height: 45px;
  width: 208px;
  font-weight: 700;
  font-size: 18px;
  background-color: #554d9c !important;
  border: none;
  color: #fff ;
  border-radius: 10px;
}
.users-love{
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #F2F5F9;
  width: 55%;
  margin-top: 22px;
  /* justify-content: center; */
}
.related{
  background: #F2F5F9;
  padding: 2px 0px;
  margin-top: 80px !important;
}
.users-love h6{
  margin: 0;
  font-size: 16px !important;
  border-bottom: 1.5px dashed #ccc;
  padding-bottom: 8px;
  font-weight: 500;

}
.users-love p{
  margin: 0px !important;
  font-size: 14px !important;
  font-weight: 500;
  padding-top: 6px;
}
.navbar.scrolled .navbar-nav .dropdown-menu a {
  color: #222 !important;
}
.navbar.scrolled .navbar-nav .dropdown-menu a:last-child{
  color: red !important;
}
/* responsive  */

@media screen  and (max-width:1366px){
  .banner_add_img {
    height: 300px;
}
}

@media screen  and (max-width:1023px) {

  .banner_add_d-noe {
    display: none;
  }
  
}
@media screen  and (max-width:991px) {

  .navbar-collapse{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background: #12121263 !important;
    padding: 22px 60px;
    backdrop-filter: blur(3px);
  }
  .navbar-nav a.active {
    color: #8981d7 !important;
  }
  .navbar.scrolled .navbar-nav a {
    color: #fbfbfb !important;
}
  .navbar-collapse .w-30{
width: 100% !important;
  }
   .align-items-center.navbar-nav{
    align-items: start !important; 
  }
  .navbar-nav a{
    margin: 8px 0px !important;

  }

  .navbar {
background: #fff !important;
  }
  .logo{
    color: #222 ;
  }
  .product_details_full{
    margin-top: 30px;
  }
  .ratings_reviews_detail svg{
    font-size: 14px !important;
  }
  .ratings_reviews_detail h6, .counter p , .counter h6 {
    font-size: 13px;
  }
  .product_details_full h4{
    font-size: 15px;
  }
  .price_counter h3{
    font-size: 20px;
  }
  .counter {
    padding: 10px 12px;
  }
  .features ul {
    grid-template-columns: repeat(2, 1fr);

  }
  .features ul li{
    font-size: 14px ;

  }
  .users-love{
    width: 100%;
    padding: 6px !important;
  }
  .users-love h6 {
    font-size: 14px !important;
  }
  .cart_bttum_lg {
    width: 100% !important;
  }
  .cart_grop{
    margin-top: 30px;
  }
  .image_section {
    height: 400px;
}
.dropdown{
  width: 100%;
}
.logo svg {
  height: 29px;
  width: 30px;
}
.detail_section{
  margin-top: 30px;
}
}

@media screen and (max-width:540px) {
  .content{
    align-items: center;
  }
  .section_title{
    text-align: center;
  }
  .product_card{
    height: 280px !important;
  }
  .playback_detail{
    font-size: 10px;
    padding: 2px 10px;
    width: 120px;
    transform: translate(-50%, 50%);
    top: 50%;
    left: 50%;
    
  }
  .new_label{
    font-size: 9px;
  }
  .product_detail{
    padding: 16px 10px;
    height: 44%;
  }
  .product_detail h2 {
    font-size: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  .product_detail p {
    font-size: 14px;
  }
  .ratting_rev{
    display: none !important;
  }
  .add_cart_button {
    height: 33px;
    font-size: 14px;
    margin-top: 8px;
  }

  .company_details, .quickLinks {
    padding: 10px 0px;
}
.app_info {
  padding: 10px 0px;
}
.footer_header{
  font-size: 20px;
  margin: 10px 0;
}
.company_details h2{
  font-size: 16px;
}
  
.app_info img {
  width: 70%;
  position: relative;
  left: -53px;
  top: -11px;
}
  
}

@media screen and (min-width: 991px) and (max-width: 1380px) {

  .navbar-nav a {
    margin: 0px 12px;
    font-size: 14px;
  }
  .login_button {
    width: 86px !important;
    height: 30px !important;
    font-size: 12px;
  
}
.product_card{
  height: 320px !important;
}
.playback_detail{
  font-size: 13px;
  padding: 2px 10px;
  width: 155px;
  transform: translate(-50%, 50%);
  top: 50%;
  left: 50%;
  
}
.new_label{
  font-size: 12px;
}
.product_detail{
  padding: 16px 10px;
  height: 44%;
}
.product_detail h2 {
  font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.product_detail p {
  font-size: 16px;
}
.ratting_rev{
  display: none !important;
}
.add_cart_button {
  height: 40px;
  font-size: 16px;
  margin-top: 8px;
}


}



/* customization  */

@media (min-width: 1400px){
.container{
  max-width: 1390px !important;
}
}