

@import 'bootstrap/dist/css/bootstrap.min.css';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

*{
  font-family: Inter !important;
}

.navbar{
  height: 80px;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    background: #fff !important;
    transition: 0.2s all ease-in-out;
    border-bottom: 1.5px solid #f4f4f4;
}
.navbar-nav a{
  margin:  0px 20px;
  padding-bottom: 2px;
  text-decoration: none;
}

.navbar-nav a{
  font-size: 16px;
  font-weight: 500;
  font-family: Inter;
  color: #222;
  position: relative;
}
.navbar-nav a::after{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background-color: #e33d30;
  content: '';
  transition: 0.30s all ease;
}
.navbar-nav a:hover::after{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #e33d30;
  content: '';
}
.navbar-nav a:hover{
  color: #e33d30;
}
.logo{
  font-size: 24px;
  text-decoration: none;
  font-weight: 700;
  color: #222;
  padding-right: 22px;
  display: flex;
    align-items: center;
    justify-content: center;
}
.logo svg{

height: 30px;
width: 30px;
padding-right: 5px;

}

.logo svg path{
  fill: #f86464;
}

.navbar-nav a.active{
  color: #e33d30 !important;
  font-weight: 600;
}
.navbar.scrolled{
  background-color: #fff  !important;
  box-shadow: -1px 2px 19px -9px rgba(0,0,0,.4);
}
.navbar.scrolled .logo{
  color: #222;
}
.navbar.scrolled  .navbar-nav a{
  color: #222;
}
.navbar.scrolled  .navbar-nav a.active, .navbar.scrolled  .navbar-nav a:hover{
color: #e33d30 !important;
}
.navbar.scrolled  .navbar-nav a:hover::after{
  background-color: #e33d30 !important;
}
.navbar>.container{
  padding: 0px 13px !important;
}
.login_button{
width: 100px  !important;
height: 35px !important;
background-color: #e33d30 !important;
border-radius: 5px !important;
color: #fff !important;
font-size: 14px;
outline: none;
font-weight: 600;
border: 1.5px solid #e33d30;
transition: 0.4s all;
}
.login_button:hover{
  background-color: #bb2e24 !important;
  color: #fff !important;
  border: 1.5px solid #fff;

}.new_slider_section{
margin-top: 40px;
}
.custom-arrows{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , 50%);
  z-index: 99;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.custom-arrows .arrow{
  font-size: 18px;
  height: 20px;
  width: 20px;
  background-color: rgba(55, 55, 55, 0.87);
  border-radius: 50%;
  color: rgb(192, 192, 192);
  cursor: pointer;
}
.offers{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 14px;
}
.offer_1{
  height: 193px;
  width: 100%;
  background: linear-gradient(90deg, rgba(37,15,78,1) 0%, rgba(113,12,161,1) 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.offer_1 .offercontent, .offer_2 .offercontent{
flex-basis: 60%;
padding: 12px;
}
.offercontent h3{
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: #fff;
  line-height: 26px;

}
.offercontent  p{
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: #efefef;
  margin-top: 20px;
}
.offercontent h3 span{
  color: #f4dc14;
  font-weight: 600;

}

.offer_1 .img_con{
  /* flex-basis: 50%; */
  height: 125px;
}
.offer_1 .img_con img{
  width: 100%;
  height: 100%
}

.offer_2 .img_con{
  /* flex-basis: 50%; */
  height: 135px;
}
.offer_2 .img_con img{
  width: 100%;
  height: 100%
}
.offer_2{
  height: 193px;
  width: 100%;
  background: linear-gradient(90deg, rgba(201,52,47,1) 0%, rgba(227,61,48,1) 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-slide img  {
  display: block;
  height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;


}


.w-30{
  width: 30% !important;
}
.custom_input{


height: 45px;
border-radius: 20px;
font-size: 15px;
font-weight: 500;
font-family: Inter !important;
color: #2a2a2a;
}
.custom_input::placeholder{
  color: #888888 !important;
  font-weight: 400 !important;
}
.slick-slide img:focus-visible, .border_none{
  border: none !important;
  outline: none !important;
  -webkit-border-color: none !important ;
}

.main_section{
  margin: 60px auto;
}
.section_title{
  font-size: clamp(1.5rem, 1.409rem + 0.4854vi, 1.875rem);
 font-weight: 700;
  color: #222;
  margin-bottom: 40px;
}
.product_card{
  height: 420px;
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: 0.3s all ease-in-out;

}
.product_card:hover{
  transform: scale(0.9);

}
.product_card img{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
  object-fit: cover;
}
.product_detail{
  position: absolute;
  bottom: 0;
  z-index: 9;
  height: 40%;
  width: 100%;
  background-color: #0000006e;
  padding: 16px;
  backdrop-filter: blur(3.5px);
  border-radius: 0px 0px 15px 15px;
}
.product_detail h2{
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  margin: 0;
  margin-top: 5px;
}
.product_detail p{
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  margin: 0;
  margin-top: 5px;
}
.playback_detail{
  margin: 0;
  font-size: 14px;
  padding: 3px 10px;
  width: 200px;
  background-color: #fcc50b;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, 54%);
  z-index: 10;
  text-align: center;
  border-radius: 20px;
  color: #222;
  font-weight: 400;
  border: 1px solid #fcc50b;
  
}
.add_cart_button{
  width: 100%;
  border: none;
  outline: none;
  height: 40px;
  background-color: #222;
  color: #fff;
  border-radius: 10px;
  font-size: 18px; 
  font-weight: 600;
  margin-top: 8px;
}
.reviews_count{
  color: #fff;
  font-size: 13px;
  margin-left: 10px;
}
.new_label{
  position: absolute;
  z-index: 9;
  top: 10px;
  right: 10px;
  display: inline-block;
  background-color: #222;
  color: #fff;
  padding: 2px 12px;
  border-radius: 20px;
  font-size: 12px;
  margin-bottom: 0px;
}
.dot{
  display: inline-block;
  height: 6px;
  width: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  top: -1px;
}

.flex-no-wrap::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.flex-no-wrap::-webkit-scrollbar
{
	width: 5px !important;
  height: 5px;
	background-color: #F5F5F5;
}

.flex-no-wrap::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.016);
	background-color: #5555555b;
}

.flex-no-wrap{
flex-wrap: nowrap !important;
padding-bottom: 50px;
overflow-x: scroll !important;
}
.banner_add_img{
  height: 450px;

}
.content{
  padding: 20px 0px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.content h3{
  font-size: clamp(1.5rem, 1.0146rem + 2.589vi, 3.5rem);
  font-weight: 700;
}
.content h2{
  font-size: clamp(1.125rem, 0.8823rem + 1.2945vi, 2.125rem);
  font-weight: 500;
}
.company_details, .quickLinks{
  padding: 40px 0px;
}
.company_details h2{
  font-size: 15px;
  color: #e6e6e6;
  margin: 0;
  font-weight: 500;
  margin-bottom: 10px;

}
.company_details p{
  font-size: 15px;
  color: #e6e6e6;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
}
.company_details p a{
  font-size: 15px;
  color: #e6e6e6;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
  text-decoration: none;
}
.footer_header{
  font-size: 18px;
  color: #fff;
  margin: 18px  0;
  font-weight: 600;
}
.app_info img{
  width: 100%;
  position: relative;
  left: -62px;
  top: -18px;
}
.quickLinks ul{
  padding: 0;
}
.quickLinks ul li{
  list-style: none;
  font-size: 15px;
  color: #e6e6e6;
  margin-bottom: 15px;
}
.quickLinks ul li a{
  list-style: none;
  font-size: 15px;
  color: #e6e6e6;
  margin-bottom: 15px;
  text-decoration: none;
}
.quickLinks ul li a:hover{
  color: #e33d30;
}
.app_info{
  padding: 40px 0px;
}

.app_info{
  font-size: 15px;
  color: #e6e6e6;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
}
.copy_rights{
  border-top: 1.5px solid #e6e6e6;
}
.copy_rights p{
  color: #e6e6e6;
  margin: 18px 0px;
  font-size: 14px;
}

.login_imag{
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-right: 1.4px solid #eeec;
}
.login_btn:hover{
  background: #bb2e24 !important;
}
.login .header h4{
  font-size: 26px;
  font-weight: 700;
  margin: 12px 0px;
  margin-bottom: 5px;
  color: #222;
 
}
.login .header p{
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
  margin-top: 8px;
  

}
.dropdown button{
  padding: 0px !important;
  background: transparent !important;
  border: none !important;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.dropdown button img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.navbar-nav .dropdown-menu{
  left: -45px !important;
}
.dropdown-menu a{
color: #222 !important;
margin: 0px !important;
}
.dropdown-menu a:last-child{
  color: red !important;
}
.form_container {
  padding: 0px 30px;
  margin-top: 30px;
}
.floatingInput{
  font-size: 16px !important;
}
.login_input{
  height: 40px !important;
  border-radius: 10px;
  /* padding: 0.8rem 0.75rem !important; */
  font-size: 16px;
}
.modal-body{
  padding: 12px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.login_btn{
  height: 45px;
  width: 100%;
  font-size: 20px !important;
  font-weight: 600 !important;
  letter-spacing: 1px;
  background-color: #e33d30 !important;
  border-radius: 10px;
  border: 1.4px solid #e33d30 !important;
}
.slick-arrow{
  display:  none !important;
}
.google_btn{
  height: 45px;
  width: 100%;
  font-size: 18px !important;
  font-weight: 600 !important;
  letter-spacing: 1px;
  background-color: #fff !important;
  border-radius: 10px;
  color: #222;
  border: 1.4px solid #cccc !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.google_btn:hover{
  color: #222;
}
.or{
  display: block;
  text-align: center;
  position: relative;
  margin-top: 12px;
}
.or:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 45%;
  top: 50%;
  right: 0;
  background-color: #ccc;
}
.or::before{
  position: absolute;
  content: '';
  height: 2px;
  width: 45%;
  top: 50%;
  left: 0;
  background-color: #ccc;
}
.redirecttag{
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin: 13px 0px;
  margin-top: 20px;
}
.redirecttag span{
  color: rgb(65, 65, 243);
  cursor: pointer;
}
.redirecttag span:hover{
  color: blue;
}
.close_btn{
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.detail_section{
  margin-top: 60px;
  /* margin-bottom: 40px; */
}
.image_section{
  height: 550px;
}
.image_section img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;

}
.ratings_reviews_detail{
  display: flex;
  align-items: center;
}
.ratings_reviews_detail h6{
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 14px;
  color: #222;
}
.product_details_full h2{
  font-size: clamp(1.5rem, 1.2876rem + 1.1327vi, 2.375rem);
  font-weight: 700;
  color: #222;
  margin: 12px 0;
}
.product_details_full h4{
  font-size: 16px;
  font-weight: 400;
  color: #5e5e5e;
  margin: 6px 0;
  text-align: justify;
  line-height: 26px;
}
.price_counter{
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}
.price_counter h3{
  margin: 12px 0;
  color: #28ac4b;
  font-size: 22px;
  font-weight: 600;

}
.counter{
  padding: 12px 20px;
  background-color: #F2F5F9;
  align-items: center;
  gap: 20px;
  border: 1.2px solid #F2F5F9;
}
.counter p{
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}
.counter h6{
  margin: 0;
  font-size: 15px;
}
.features ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin-top: 28px;
}
.features ul li{
  list-style: none;
  margin: 8px 0px;

  font-weight: 500;
  color: #5e5e5e;
}
.cart_grop{
  margin-top: 45px;
}
.cart_bttum_lg{
  height: 45px;
  width: 208px;
  font-weight: 700;
  font-size: 18px;
  background-color: #222 !important;
  border: none;
  color: #fff ;
  border-radius: 10px;
}
.users-love{
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #F2F5F9;
  width: 55%;
  margin-top: 22px;
  /* justify-content: center; */
}
.related{
  background: #F2F5F9;
  padding: 2px 0px;
  margin-top: 80px !important;
}
.users-love h6{
  margin: 0;
  font-size: 16px !important;
  border-bottom: 1.5px dashed #ccc;
  padding-bottom: 8px;
  font-weight: 500;

}
.users-love p{
  margin: 0px !important;
  font-size: 14px !important;
  font-weight: 500;
  padding-top: 6px;
}
.navbar.scrolled .navbar-nav .dropdown-menu a {
  color: #222 !important;
}
 .dropdown-menu a::after{
  display: none !important;
}
.dropdown-menu a:hover{
  background-color: none !important;
}
.dropdown-menu a:active{
  background-color: none !important;
}
.navbar.scrolled .navbar-nav .dropdown-menu a:last-child{
  color: red !important;
}
/* .canvsas{
  position: relative;
  top: 90px;

} */
.full_view{
  
  position: relative;
  height: 90px;
  width: 90px;
  object-fit: cover;
  margin-top: 18px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.full_view:hover .overlay{
  background-color: #222222c1;
}
.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #22222297;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay span{
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin: 0;
  display: block;
  text-align: center;
}
.full_view img{
height: 100%;
width: 100%;
border-radius: 10px;
}
.instrution p{
  text-align: center;
  margin: 0px;
  position: absolute;
  top:  20px;
  font-size: 16px;
  font-weight: 400;
  color: #5e5e5e;
  /* left: 10%; */
  text-align: center;
  width: 100%;
  /* transform: translate(0, -10%); */
}
.cart_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
  /* border-bottom: 1.4px solid #888888; */
}
.car_items_details table td, .car_items_details table th{
  padding: 10px 0px;
  font-size: clamp(1rem, 0.9342rem + 0.3509vi, 1.25rem);;

}
.car_items_details table th{
  border-bottom: 1.4px solid #888888;
}
.cart_header h2{
  font-size: 20px;
  font-weight: 600;
  margin: 0px;

}
.cart_header h3{
  font-size: 17px;
  font-weight: 500;
  margin: 0px;
}
.car_items_details_data{
  display: flex;
  gap: 10px;
  /* align-items: center; */
}
.car_items_details_data .cart_img{

  height: 105px;
  width: 80px;
  flex-basis: 20%;

}
.car_items_details_data .cart_img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.car_items_details_content{
  flex-basis: 80%;
}
.price {
  font-size:clamp(0.9375rem, 0.8882rem + 0.2632vi, 1.125rem);
  margin: 0px;
  font-weight: 600;
  color: #28ac4b;
}
.car_items_details_content h2, .subtotal h2{
  font-size:clamp(1rem, 0.9342rem + 0.3509vi, 1.25rem);
  margin: 0px;
  font-weight: 700;

}
.cart_main_td{
  width: 60%;
}
.car_items_details_content p{
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding-right: 60px;
  margin-top: 6px;
  color: #8b8b8b;
}
.quantity {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.quantity label{
  margin: 0;
  font-size: 17px;
  background-color: #e33d30;
 height: 25px;
 width: 25px;
 display: flex;
 align-items: center;
 justify-content: center;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
  cursor: pointer;
}
.quantity span{
  padding: 8px 8px;
  font-size: clamp(0.875rem, 0.8421rem + 0.1754vi, 1rem);
  font-weight: 500;
  /* border: 1px solid #888888; */
}

.del_icon{
  position: absolute;
  top: 12px;
  right: 12px;
  color: red;
  cursor: pointer;
}
.subtotal{
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1.4px solid #ccc;
  border-radius: 10px;
  padding: 22px;
}
.subtotal tr td {
  padding: 8px 0px;
}
.subtotal tr td:nth-child(odd){
  font-size: clamp(0.875rem, 0.8421rem + 0.1754vi, 1rem);
   font-weight: 600;

}
.subtotal tr:nth-child(3){
  border-top: 1.4px solid #888888;
}
.subtotal tr td:nth-child(even){
  font-size: clamp(0.875rem, 0.8421rem + 0.1754vi, 1rem);
 font-weight: 500;
  text-align: right;

}
.check-out{
  height: 45px;
  width: 100%;
  background: #e33d30;
  font-size: clamp(0.875rem, 0.8421rem + 0.1754vi, 1rem);
 font-weight: 600;
  margin-top: 30px;
  border: none;
  color: #fff;
  border-radius: 10px;

}
.check-out:hover{
  background-color: #bb2e24;
}
.payment img{
  
  width: 80%;
  display: block;
  object-fit: contain;
}

.product_list .main_section .container  h2.section_title{
display: none !important;

}
.product_list .main_section .container div.flex-no-wrap{
  flex-wrap: wrap !important;
    padding-bottom: 0px !important;
    overflow-x: auto !important;
  
  }
  .product_list .main_section .container div.flex-no-wrap .product_card{
    margin-bottom: 36px;
  }

  .product_list .main_section{
    margin: 30px auto !important;
  }
 .breadcrumb-item.active{
  color: #e33d30 !important;
 }
 .breadcrumb{
  margin-bottom: 0px !important;
 }
 .breadcrumb-item a{
  all: unset !important;
  cursor:  pointer !important;

 }

.custom-bread{
  padding-bottom: 26px;
  border-bottom: 1.4px solid #f5f5f5;
  padding-top: 0px;
}

.cart_badge{
  position: absolute;
  top: -4px;
  background: #e33d30;
  color: #fff;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -2px;
}
.braed_cctr{
  margin-top: 50px;
}
.search_result{
  margin: 30px auto;
}
.search_result .product_card{
  margin-bottom: 36px;
}
/* responsive  */

@media screen  and (max-width:1366px){
  .banner_add_img {
    height: 300px;
}
}

@media screen  and (max-width:1023px) {

  .banner_add_d-noe {
    display: none;
  }
  
}
@media screen  and (max-width:991px) {

  .offcanvas-header{
    border-bottom: 1px solid #f1f1f1;
  }
  .navbar-nav a{
width: 50%;
  }
  .quantity{
justify-content: center;
  }
  .content{
    align-items: center;
    padding: 40px 0px;
  }
  .navbar.scrolled .navbar-nav .dropdown-menu a{
  padding: 0px 8px  !important;
  }
  .navbar-nav a {
  font-size: 14px;
  }
.navbar.scrolled .navbar-nav .dropdown-menu a{
  border: none !important;

 
  /* background: #f5f5f5; */
}
.navbar.scrolled .navbar-nav .dropdown-menu{
  border: none;
  background: #f9f9f9;
  width: 75%;
  border: 1px solid #f5f5f5;
}
  .offers{
    flex-direction: row;
  }
  

  .navbar-collapse{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background: #ffffff !important;
    padding: 22px 22px;
    backdrop-filter: blur(2px);
    border-top: 1.4px solid #e6e6e6;
  }

  .navbar-collapse .login_button{
width: 100% !important;
  }
 
  .navbar.scrolled .navbar-nav a {
    color: #222 !important;
}
  .navbar-collapse .w-30{
width: 100% !important;
  }
  .w-30{
    width: 100% !important;
      }
   .align-items-center.navbar-nav{
    align-items: start !important; 
  }
  .navbar-nav a{
    margin: 8px 0px !important;

  }

  .navbar {
background: #fff !important;
  }
  .logo {
    color: #222 !important;
  }
  .product_details_full{
    margin-top: 30px;
  }
  .ratings_reviews_detail svg{
    font-size: 14px !important;
  }
  .ratings_reviews_detail h6, .counter p , .counter h6 {
    font-size: 13px;
  }
  .product_details_full h4{
    font-size: 15px;
  }
  .price_counter h3{
    font-size: 20px;
  }
  .counter {
    padding: 10px 12px;
  }
  .features ul {
    grid-template-columns: repeat(2, 1fr);

  }
  .features ul li{
    font-size: 14px ;

  }
  .users-love{
    width: 100%;
    padding: 6px !important;
  }
  .users-love h6 {
    font-size: 14px !important;
  }
  .cart_bttum_lg {
    width: 100% !important;
  }
  .cart_grop{
    margin-top: 30px;
  }
  .image_section {
    height: 400px;
}
.dropdown{
  width: 100%;
}
.logo svg {
  height: 29px;
  width: 30px;
}
.detail_section{
  margin-top: 30px;
}
.main_section{
  margin: 30px auto;
}
.section_title{
  margin-bottom: 24px;
}
.main_section .col-6{
  padding: 0px 8px !important;
}
.quantity label {
  margin: 0;
  font-size: 14px;
  height: 18px;
  width: 18px;
}
.custom-bread {
  padding-bottom: 12px;
}

.braed_cctr{
  margin-top: 40px;
}

.car_items_details_data .cart_img {
height: 60px;
width: 60px;
}
.car_items_details_content h2{

  font-size: 11px;
}

.car_items_details_content p{
padding-right: 0px;
display: none;
}
.cart_main_td{
width: 46%;
}
.car_items_details_data .cart_img , .car_items_details_content{
flex-basis: unset;
}
.price{
font-size: 14px;
}
.cart_items_container{
  margin-bottom: 30px;
}
.cart_header h2 {
font-size: 18px;
}
.car_items_details table td, .car_items_details table th{
font-size: 15px;
}
.payment img {
  width: 60%;
}
.subtotal {
border: none;
padding: unset;
padding-top: 20px;
border-top: 1.4px solid #ccc;
border-radius: 0px;
margin-bottom: 30px;
}
.my-5{
margin-top: 2rem !important;
margin-bottom: 2rem !important;
}
}

@media screen and (max-width:540px) {
  .new_slider_section{
    margin-top: 20px;
  }
  .slick-slide img  {
    height: 150px;
  }
  .offers{
    margin-top: 12px;
  }
.offer_1, .offer_2{
 padding: 14px;
 display: block !important;
 position: relative;
 overflow: hidden;
 height: 180px;
}
.img_con{
  position: absolute;
  bottom: -20px;
  right: -30px;
  z-index: 1;
  height: unset !important;
}
.offercontent{
  z-index: 2;
  display: block;
  position: relative;
  padding: 0px !important;
}
.offer_1 .img_con img {
  height: 90px !important;
  aspect-ratio: 1/1;
  opacity: 0.8;
}
.offer_2 .img_con img {
  height: 110px !important;
  aspect-ratio: 1/1;
  opacity: 0.8;
}
.offercontent h3{
  font-size: 16px;

}
.offercontent p{
font-size: 12px;
margin: 0px;
}
  .custom-arrows{
    top: 50%;
    left: 50%;
    /* width: 100%;?\ */
    transform: translate(-50%, -50%);
  }

  .custom-arrows .arrow{
    height: 14px;
    width: 14px;
   
  }
  .navbar{
    position: sticky !important;
    top: 0 !important;
  }
  .content{
    align-items: center;
    padding: 40px 0px;
  }
  .section_title{
    text-align: center;
  }
  .product_card{
    height: 230px !important;
  }
  .playback_detail{
    font-size: 10px;
    padding: 2px 10px;
    width: 120px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    
  }
  .new_label{
    font-size: 9px;
  }
  .product_detail{
    padding: 16px 10px;
    height: 50%;
    backdrop-filter: blur(1px);
  }
  .product_detail h2 {
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  .product_detail p {
    font-size: 12px;
  }
  .ratting_rev{
    display: none !important;
  }
  .add_cart_button {
    height: 33px;
    font-size: 14px;
    margin-top: 8px;
  }

  .company_details, .quickLinks {
    padding: 10px 0px;
}
.app_info {
  padding: 10px 0px;
}
.footer_header{
  font-size: 20px;
  margin: 10px 0;
}
.company_details h2{
  font-size: 16px;
}
  
.app_info img {
  width: 70%;
  position: relative;
  left: -53px;
  top: -11px;
}
  
}

@media screen and (min-width: 991px) and (max-width: 1380px) {

  .navbar-nav a {
    margin: 0px 12px;
    font-size: 14px;
  }
  .login_button {
    width: 86px !important;
    height: 30px !important;
    font-size: 12px;
  
}
.product_card{
  height: 320px !important;
}
.playback_detail{
  font-size: 13px;
  padding: 2px 10px;
  width: 155px;
  transform: translate(-50%, 50%);
  top: 50%;
  left: 50%;
  
}
.new_label{
  font-size: 12px;
}
.product_detail{
  padding: 16px 10px;
  height: 44%;
}
.product_detail h2 {
  font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.product_detail p {
  font-size: 16px;
}
.ratting_rev{
  display: none !important;
}
.add_cart_button {
  height: 40px;
  font-size: 16px;
  margin-top: 8px;
}


}



/* customization  */

@media (min-width: 1400px){
.container{
  max-width: 1390px !important;
}
}